#header{
    text-align: center;
    color:white ;
    font-family: "Times New Roman";
    font-size: 43px;
    font-weight: bold;
}

#content{
    color: white;
    font-family: "Georgia";
    font-size: 25px;
}

#left{
    color: white;
    font-family: "Arial";
    font-size: 25px;
    font-weight:bold;
}

#footer{
    color: white;
    font-family: "Verdana";
    font-size: 15px;
}

#right{
    color: white;
    font-family: "Arial";
    font-size: 24px;
    font-weight:bold;
}

ul{
    color: white;
    font-family: "Arial";
    font-size: 25px;
}

a:link, a:visited{
    color: white;
}
a:hover, a:active{
    background-color: black;
    color: green;
}

li {
    list-style-image: url(./icon.jpg);
    font-family: "Lucida Console";
    font-size: 21px;
}

/* allows reader to hover over text and read text clearer */
#readable{
    background-color: black;
    color: white;
    opacity:0.9;
}
#black{
    background-color:black;
}
